* {
    font-family: "lato", sans-serif;
    font-weight: bold;
}

body {
    /* background: url("laundry-service-horizontal-banner.jpg");     */
    margin-top: 20px;
    /* Add the blur effect */    
}

p{
    background: url("images/laundry-service-horizontal-banner.jpg");   
    height: 150px;
}
.container {
    display: block;    
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
}