* {
    font-family: "lato", sans-serif;
    font-weight: bold;
}

body {
    /* background: url("laundry-service-horizontal-banner.jpg");     */
    margin-top: 10px;    
}

p{
    background: url("images/laundry-service-horizontal-banner.jpg");   
    height: 150px;        
    background-repeat: no-repeat;        
    margin-bottom:-5rem;
}
.container {
    display: block;    
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
}

.info, .success, .warning, .error, .validation {
    border: 0px solid;
    margin: 10px 0px;
    padding: 1px 1px 1px 45px;
    background-repeat: no-repeat;
    background-position: 10px center;
    font-family: 'Courier New', Courier, monospace;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('https://i.imgur.com/ilgqWuX.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url('https://i.imgur.com/Q9BGTuy.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('https://i.imgur.com/Z8q7ww7.png');
}
.error{
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('images/error.png');
}
.validation{
    color: #D63301;
    background-color: #FFCCBA;
    background-image: url('https://i.imgur.com/GnyDvKN.png');
}
